<style>
body{
         background-image: url('registration7.jpg');
         background-repeat: no-repeat;
         background-size:cover;
         }

input[type=text], input[type=password] {
  width: 100%;
  padding: 9px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0DF329    ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

</style>